@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;1,300&display=swap");
:root {
  --primary-color: #ff9933;
  /* --primary-color: #031b67; */
  --secondary-color: black;
  /* --suporting-color: #ce6aa2; */
  /* --suporting-color: #f9842c; */
  --suporting-color: #ff3f34;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 100%;
  margin: auto;
}
h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  color: var(--primary-color);
}
p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}
h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
body::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f0f0f0;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--suporting-color);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
